@model TaskManager.Task.Entities.TaskDetailEntity
<td>@Model.Name</td>
<td>@Model.ClassType</td>
<td>@Model.TaskRule</td>
<td>@Model.IsRunning</td>
<td>@Model.LastStart</td>
<td>@Model.LastEnd</td>
<td>@Model.LastIsSuccess</td>

<td>@Model.NextStart</td>
<td>@(string.Format("{0}至{1}", Model.StartDate.ToString("yyyy-M-d"), Model.EndDate.HasValue ? Model.EndDate.Value.ToString("yyyy-M-d") : "永久"))</td>
<td>@Model.Enabled</td>
<td>
    <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            操作 <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a>详情</a></li>
            <li><a>执行</a></li>
            <li><a taskid="@(Model.Id)" onclick="changeEnabled(this)">@(Model.Enabled?"禁用":"启用")</a></li>
            <li role="separator" class="divider"></li>
            <li><a>删除</a></li>
            <li><a class="tm_AddOrEdit" taskid="@Model.Id">编辑</a></li>
        </ul>
    </div>
</td>
