
@{
    ViewBag.Title = "TaskDetails";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using TaskManager.Task.Entities
@model IList<TaskManager.Task.Entities.TaskDetailEntity>


@helper ThisContent()
{
if (Model != null && Model.Any())
{
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>名称</th>
                    <th>任务类</th>
                    <th>Quartz规则</th>
                    <th>当前状态</th>
                    <th>上次开始时间</th>
                    <th>上次结束时间</th>
                    <th>上次执行结果</th>
                    <th>下次开始时间</th>
                    <th>有效时间</th>
                    <th>是否启用</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var taskDetail in Model)
                {
                    <tr>
                        @Html.Partial("_TaskDetailRow", taskDetail)
                    </tr>
                }
            </tbody>
        </table>
}
}

@section scripts{
    @Scripts.Render("~/bundles/layer")
    @Scripts.Render("~/bundles/unobtrusive")
    @Styles.Render("~/Content/datetimepicker")
    @Scripts.Render("~/bundles/datetimepicker")
    <script>
        $(".tm_AddOrEdit").click(function () {
            var taskid = $(this).attr("taskid");
            var title = "编辑任务";
            if (taskid == undefined) {
                taskid = 0;
                title = "新增任务";
            }
            $.get("@(Url.Action("TaskDetailAddOrEdit"))", { id: taskid }, function (data) {
                layer.open({
                    title: title,
                    type: 1,
                    content: data
                });
            });
        });

        function changeEnabled(_this) {
            var self = $(_this);
            var taskid = self.attr("taskid");
            var text = self.text();
            var taskenabled = text == "启用";
            var row = self.parents("tr");
            $.post("@(Url.Action("ChangeEnabled"))", { id: taskid, enabled: taskenabled }, function (data) {
                layer.alert("修改成功！");
                row.html(data);
            });
        }
    </script>
}
<div class="row">
    <div class="col-md-12">
        <a class="tm_AddOrEdit btn btn-default">新建</a>
    </div>
</div>
<div class="row">
    @ThisContent()
</div>