<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("应用程序名称", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("主页", "Index", "Home")</li>
                <li>@Html.ActionLink("任务", "LocalTaskList", "Task")</li>
                <li>@Html.ActionLink("日志", "About", "Home")</li>
                <li>@Html.ActionLink("Cron", "QuartzCron", "Task")</li>
                <li>@Html.ActionLink("帮助", "Contact", "Home")</li>
            </ul>
        </div>
    </div>
</div>
